body {
  background-image: url("../../assets/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.chat-room-container {
  display: flex;
  align-items: stretch;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
h3 {
  font-size: 15px;
}
.user-list {
  font-size: 10px;
  
  flex: 0.5;
  color: antiquewhite;
  padding: 10px;
  border: 2px solid #480a0a;
  border-radius: 0px;
  overflow-y: auto; 
  max-height: 400px; 
  background-color: #302e2e;
}
.conversation-container {
  flex: 2.7;
  display: flex;
  flex-direction: column;
  color: #2b2b2b;
}
.createdAt {
  margin-left: 5%;
  font-size: 8px;
  color: #888787;
}
.messages {
  flex: 3 !important;
  padding: 10px;
  border: 2px solid #480a0a;
  border-radius: 0px;
  overflow-y:scroll;
  scroll-snap-align: end;
  
  max-height: 400px !important;  
  background-color: #ffffff;
}

.renderty {
  color: black;
  font-size: 10px;
}

.message {
  margin-bottom: 60px;
  margin-left: 2%;
}

.sender {
  font-weight:lighter;
  color: #0f5618;
}

.message-text {
  margin-left: 10px;
  font-style: italic;
}

.message-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  
  border-radius: 0 0 5px 5px;
  
  
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  
  
  border-radius: 5px;
  background-color: rgb(247, 220, 185);
}

.send-button {
  margin-left: 5px;
  background-color: #95ff00;
  color: #db2b2b;
  border: 2px solid salmon;
  font-weight: bolder;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.send-button:hover {
  background-color: #0056b3;
}
